<div
  id="carouselExampleControls"
  class="carousel slide carousel-dark slide px-5 py-5 mb-5 bg-secondary bg-opacity-25"
  data-bs-ride="carousel"
>
  <div class="carousel-inner">
    <div *ngFor="let artist of artists; index as i">
      <div *ngIf="i === 0">
        <div class="carousel-item active">
          <div class="picsum-img-wrapper d-flex justify-content-center Cursor">
            <div class="card mx-3">
              <a href="artists/{{ artist.id }}">
                <img
                  src="{{ artist.image.source }}"
                  class="card-img-bottom sizeImage"
                  alt="{{ artist.name }}"
                />
              </a>
              <p class="card-title text-dark text-center mt-2">
                {{ artist.name }}
              </p>
            </div>
          </div>
        </div>
      </div>
      <div *ngIf="i !== 0">
        <div class="carousel-item">
          <div class="picsum-img-wrapper d-flex justify-content-center Cursor">
            <div class="card mx-3">
              <a href="artists/{{ artist.id }}">
                <img
                  src="{{ artist.image.source }}"
                  class="card-img-bottom sizeImage"
                  alt="{{ artist.name }}"
                />
              </a>
              <p class="card-title text-dark text-center mt-2">
                {{ artist.name }}
              </p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <button
    class="carousel-control-prev"
    type="button"
    data-bs-target="#carouselExampleControls"
    data-bs-slide="prev"
  >
    <span class="carousel-control-prev-icon" aria-hidden="true"></span>
    <span i18n class="visually-hidden">Previous</span>
  </button>
  <button
    class="carousel-control-next"
    type="button"
    data-bs-target="#carouselExampleControls"
    data-bs-slide="next"
  >
    <span class="carousel-control-next-icon" aria-hidden="true"></span>
    <span i18n class="visually-hidden">Next</span>
  </button>
</div>
