<footer class="element mt-5 align-self-end">
  <div class="container">
    <div class="row">
      <div class="col">
        <img
          src="https://media.cntraveler.com/photos/5dae0325b45cd80008161cf3/master/pass/MOMA-2019_IVRPHOTO-4373_ArtistChoice_HB_007-2-2000x1125.jpg"
          class="rounded sizeImage mt-4"
          alt="Foto museo"
        />
      </div>
      <div class="col">
        <div class="d-flex flex-column mb-3">
          <div class="p-2 mt-4">
            <a class="text-light" href="museums/list">Museum</a>
          </div>
          <div class="p-2">
            <a class="text-light" href="artists/list">Artist</a>
          </div>
          <div class="p-2 text-light">
            <a class="text-light" href="/movement/list">Movements</a>
          </div>
        </div>
      </div>
      <div class="col text-center">
        <p class="mt-4 text-light">Follow us:</p>
        <a href="https://twitter.com/CamiloBarreiro4"><img
          src="https://img.icons8.com/color/48/null/twitter--v1.png"
          alt="icono twitte"
        /></a>
        <img
          src="https://img.icons8.com/fluency/48/null/facebook-new.png"
          alt="icono facebook"
        />
        <img
          src="https://img.icons8.com/color/48/null/instagram-new--v1.png"
          alt="icono instagram"
        />
        <img
          src="https://img.icons8.com/color/48/null/youtube-play.png"
          alt="icono youtube play"
        />
      </div>
    </div>
  </div>
</footer>
