<header>
  <nav class="navbar navbar-dark navbar-expand-lg bg-dark element">
    <div class="container-fluid">
      <a class="navbar-brand" href="#">Navbar</a>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav me-auto mb-2 mb-lg-0">
          <li class="nav-item">
            <a class="nav-link active" aria-current="page" href="#">
              Home
            </a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="museums/list">
              Museums
            </a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="artists/list">
              Artist
            </a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="artworks/list">
              Artwork
            </a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="movement/list">
              Movements
            </a>
          </li>
        </ul>

      </div>
    </div>
  </nav>
  <!-- <nav class="navbar navbar-dark navbar-expand-lg bg-dark element">
    <div class="container">
      <a i18n class="navbar-brand" routerLink="" routerLinkActive="active"
        >HOME</a
      >
      <button
        class="navbar-toggler"
        type="button"
        data-bs-toggle="collapse"
        data-bs-target="#navbarSupportedContent"
        aria-controls="navbarSupportedContent"
        aria-expanded="false"
        aria-label="Toggle navigation"
      >
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav me-auto mb-2 mb-lg-0">
          <li class="nav-item">
            <a
              i18n
              class="nav-link"
              aria-current="page"
              routerLink="museums/list"
              routerLinkActive="active"
              >Museums</a
            >
          </li>
          <li class="nav-item dropdown">
            <a
              i18n
              class="nav-link dropdown-toggle"
              href="#"
              id="navbarDropdown"
              role="button"
              data-bs-toggle="dropdown"
              aria-expanded="false"
            >
              Artists</a
            >
            <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
              <li>
                <a i18n class="dropdown-item" routerLink="/artists/list"
                  >List</a
                >
              </li>
              <li>
                <a i18n class="dropdown-item" routerLink="/artists/create"
                  >Create</a
                >
              </li>
            </ul>
          </li>
          <li class="nav-item">
            <a
              i18n
              class="nav-link"
              aria-current="page"
              routerLink="/movements"
              routerLinkActive="active"
              >Movements</a
            >
          </li>
          <li class="nav-item">
            <a
              i18n
              class="nav-link"
              aria-current="page"
              routerLink="/artworks/list"
              routerLinkActive="active"
              >Artworks</a
            >
          </li>
        </ul>
      </div>
    </div>
  </nav> -->
</header>